* {
    margin: 0;
    padding: 0;
}

div {
    background-color: salmon;
    text-align: center;
    width: 500px;
    margin: auto;
}

table {
    background-color: orange;
    width: 300px;
    margin: auto;
}

tr:nth-child(odd) {
    background-color: white;
}

tr:nth-child(even) {
    background-color: yellow;
}

tr:nth-child(1), tr:nth-child(5) {
    background-color: orange;
}

tr:nth-child(5) {
    background-color: orange;
}